@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


.alignment { 
	width: auto;
	margin: auto;
	height: auto; }

nav ul{list-style-type: none;
		margin-top: 2%;}

nav a{text-decoration: none;
	  color: black; 
	  font-size: 130%;
	  font-weight: bold;}

nav a:hover{color:rgba(143, 211, 232, 1);
			 text-decoration: none;
			 transition: color 0.6s;} 

nav li{	clear: left;
		display: inline;
		margin: 0 3%;}


nav img{float: left;
		width: 13%;
		height: auto;
		margin-left: 3%;
		margin-top: 2%;}

nav { position: fixed;
	  background-color: white;
	  margin-top: -2%;
	  width: 110%;
	  margin-left: -1%;	
	  z-index: 1;
	}

.icon{display: none;}

/*.signUpNav{margin-top:-3.2%;}*/

.dropdown{
	position: relative;
	display: inline-block;
	margin: 0 5%;}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f2f2f2;
	width: 250%;
	margin-left: -100%;
	}

.dropdown-content a{
	color: black;
	padding: 5% 10%;
	margin-left: -20%;
	display: block;
}

.dropdown:hover .dropdown-content {display: block;
								   transition: display 2s;}

.dropdown-submenu{position: relative;}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
  } 

.dropdown-menu ul{margin-right: 10%;}

	

/*Indoor Park*/
body, html{
	margin: 0;
	padding: 0;
	font-family: Lato;
	width: 100%;
	height: 100%;
}
.section-top{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(aboutIndoorPark/indoorpark1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	animation: slide 16s infinite;
	
}

.content{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
}

.content h1{
	color:white;
	font-size:60px;
	letter-spacing:16px;
}


.textindoorpark{
	text-align: justify;
	text-justify: inter-word;
	width: 70%;
	margin-left: 15%;
	padding: 30px 0 80px 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
	letter-spacing: 0.1em;
	line-height:1.8;
}


/*----------------------------------------------------------------*/
/*footer*/
.footer-social-icons {
    width: 170%;
    display:block;
    margin: 0 auto;
    margin-left: -9%;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: -1%;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 10%;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:1.5% 2.5%;
    transition: .5s;
    background-color: rgba(143, 211, 232, 1);
}
.fa-facebook:hover {
	background-color: #3d5b99;
	color: #fff;
}
.fa-twitter {
    padding:1.5% 2.5%;
    transition: .5s;
    background-color: rgba(143, 211, 232, 1);
}
.fa-twitter:hover {
	background-color: #00aced;
	color: #fff;
}

.fa-youtube {
    padding:1.5% 2.5%;
    transition: .5s;
    background-color: rgba(143, 211, 232, 1);
}
.fa-youtube:hover {
	background-color: #e64a41;
	color: #fff;
}
.fa-linkedin {
    padding:1.5% 2.5%;
    transition: .5s;
    background-color: rgba(143, 211, 232, 1);
}
.fa-linkedin:hover {
	background-color: #0073a4;
	color: #fff;
}
.fa-google-plus {
    padding:1.5% 2.5%;
    transition: .5s;
    background-color: rgba(143, 211, 232, 1);
}
.fa-google-plus:hover {
	background-color: #e25714;
	color: #fff;
}

footer {
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 3%;	
		padding-right: 6%;	
		background-color: rgba(143, 211, 232, 1);
		width: 101%;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 130%;
		color: white;
		margin-left: -1%;
		margin-right: -4%;
		margin-bottom: -1%;
		overflow:auto;}


.contact{
	float: left;
	width: 30%;
	font-family: Arial, Helvetica, sans-serif;
}

.newsletter{
	display: block;
	box-sizing: border-box;	
	float: right;
	font-family: Arial, Helvetica, sans-serif;}
.contact h4{font-weight: 900;}
.newsletter h4{font-weight:900;}


.right {
  border: 3px solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5%;
  margin-right: 10%;
  margin-left: -10%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: static;
}	



.signUp{
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding:2% 1%;
	display:inline-block;
	background-color:rgba(143, 211, 232, 1);
	border: 2px solid #ffffff;
	width:20%;
	text-align:center;
	}


.signUp:hover{background-color: #0099e6;
  			transition: width 2s;
  			width: 30%;
  			}


@keyframes slide {
	25%{
		background-image: url(aboutIndoorPark/indoorpark1.jpg);
	}
	50%{
		background-image: url(aboutIndoorPark/indoorpark2.jpg);
	}
	75%{
		background-image: url(aboutIndoorPark/indoorpark3.jpg);
	}
	100%{
		background-image: url(aboutIndoorPark/indoorpark4.jpg);
	}
}
	
@media screen and (max-width:1024px){
	nav img{width: 25%;
		height: auto;}

	.signUp{width: 35%;}

	ul.social-icons {margin:2%;}

	.navigation{display: none;}

	.icon{margin-left: 70%;
		display: block;}
		
	.signUp:hover{width: 35%; }

	#section-top{
		width:100%;
		float: none;
	}
}

@media only screen and (max-width: 768px){
	nav img{width: 35%;
		height: 1%;}

	.signUp{
		width: 35%;
		padding-left: 2%;
	}
 }
	
